<!doctype html>
  <header>
    <meta charset="utf-8">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <title><%= current_page.data.title || "Tania Jacob" %></title>
    <%= stylesheet_link_tag "normalize", "all" %>
    <%= javascript_include_tag  "all" %>
  </header>
  <body class="<%= page_classes %> my-body">
    <nav class="navbar navbar-default navbar-fixed-top uppernav" role="navigation">
    <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapsable">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapsable">
          <ul class="nav navbar-nav foo" id="menu">
            <li class="active"><a href="/">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#skills">Skills</a></li>
            <li><a href="#work_rails_projects">Work </a></li>
            <li><a href="#personal_rails_projects">Personal</a></li>
            <li><a href="#my_interests">Interests</a></li>
            <li><a href="#education">Education</a></li>
            <li><a href="#contact">Contact</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <section id="about">
      <h2>Tania Jacob</h1>
      <hr>
      <div class="row">
        <div class="col-md-12">
          <p> I am a 25 year old full stack Ruby on Rails developer
            currently working at Abletech Ltd in Wellington. I have been with the company
            for the past 3 months. I work on a variety of small - medium sized personal projects
            within a team of 4.
          </p>
          <p>Prior to this I was working at Datacom Systems Ltd (4 years)
            I started here as an intern in the Reserve Bank of New Zealand team. After
            graduating I worked as a Java developer, Ruby on Rails developer and in a DevOps
            team building code using Ansible.
          </p>
          <p>My first internship was at Tertiary Education
            Commission (TEC) where I became the SME in Sparx Enterprise Architect 9.2.
            I prepared a training manual and used this to help train staff both
            at TEC and Datacom.
          </p>
          <p>I describe myself as a motivated individual
            who is keen to learn new skills and grasps any opportunity
            that is presented. I have worked in both waterfall (Java) and
            agile (Ruby on Rails) environments as well as in a DevOps team.
            The highlight of my career has been working in Ruby on Rails teams.
            Outside of work I have recently built my wedding website and
            upgraded a Wellington Catholic marriage preparation course webite.
            These projects have helped me grow my skills.
          </p>
        </div>
      </div>
    </section>
    <section id="skills">
      <h2>Key Technologies</h2>
      <hr>
      <table class="table table-bordered">
        <tr>
          <th class="about">Technology</th>
          <th class="experience">Level of Experience</th>
          <th class="rating">Rating</th>
          <th class="year">Last Year Used</th>
        </tr>
        <% data.technologies.each do |tech| %>
          <tr>
            <td><%= tech["tech"]%></td>
            <td><%= tech["experience_level"]%></td>
            <td><%= tech["rating"]%></td>
            <td><%= tech["year_last_used"]%></td>
          </tr>
        <% end %>
      </table>
    </section>
    <section id="tools">
      <h2>Key Tools</h2>
      <hr>
      <table class="table table-bordered">
        <tr>
          <th class="about">Tool</th>
          <th class="experience"> Level of Experience</th>
          <th class="rating">Rating</th>
          <th class="year">Last Year Used</th>
        </tr>
        <% data.tools.each do |tool| %>
          <tr>
            <td><%= tool["tool"]%></td>
            <td><%= tool["experience_level"]%></td>
            <td><%= tool["rating"]%></td>
            <td><%= tool["year_last_used"]%></td>
          </tr>
        <% end %>
      </table>
    </section>
    <section id="work_rails_projects">
      <h2>Work Projects</h2>
      <hr>
      <div class="row">
      <% data.work_projects.each do |project| %>
        <div class="col-md-6">
          <% @photo = project["image"] %>
          <%= image_tag(@photo, class: "img-responsive", height: 450, width: 600) %>
          <dt><%= project["title"] %></dt>
          <span><%= project["description"] %></span>
        </div>
      <% end %>
    </div>
    </section>
    <section id="personal_rails_projects">
      <h2>Personal Projects</h2>
      <hr>
      <div class="row">
        <% data.personal_projects.each do |project| %>
          <div class="col-md-6">
            <% @photo = project["image"] %>
            <%= image_tag(@photo, height: 450, width: 600) %>
            <dt><%= link_to project["title"], project["url"] %></dt>
            <span><%= project["description"] %></span>
          </div>
        <% end %>
      </div>
    </section>
    <section id="my_interests">
      <h2>Interests</h2>
      <hr>
      <p>Outside of my development time, I love baking. In particular I fancy making decorative birthday cakes. Here is a show case of my talent in order of creation: </p>
      <div class="row">
        <% data.interests.each do |interest| %>
          <div class="col-md-6">
            <% @photo = interest["image"] %>
            <%= image_tag(@photo, height: 300, width: 300) %>
            <dt><%= interest["theme"] %></dt>
          </div>
        <% end %>
      </div>
      <p>I enjoy boogie boarding and exploring the outdoors with my fiance, skiing and spending time with family and friends.</p>
    </section>
    <section id="education">
      <h2>Education & Professional Development</h2>
      <hr>
      <table class="table table-bordered">
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th>Location</th>
          <th>Timing</th>
        </tr>
        <% data.education.each do |item| %>
          <tr>
            <td><%= item["name"] %></td>
            <td><%= item["description"] %></td>
            <td><%= item["location"] %></td>
            <td><%= item["timing"] %></td>
          </tr>
        <% end %>
      </table>
    </section>
    <section id="contact_pg">
      <h2>Contact Tania</h2>
      <hr>
      <div class="row">
        <div class="col-md-4 tania-image">
          <img src="/images/tania.jpg" alt= "lego" height="250" width="300"/>
        </div>
        <div class="col-md-4 my-contact-text">
          <span>Email: tanzjacob@gmail.com</span>
          <span>Phone: 027 694 9524</span>
          <span>GitHub: <%= link_to 'https://github.com/jacobtani', 'https://github.com/jacobtani' %></span>
        </div>
      </div>
    </section>
  </body>
