<!doctype html>
  <header>
    <meta charset="utf-8">

    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">

    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= current_page.data.title || "Tania Jacob" %></title>

    <%= stylesheet_link_tag "normalize", "all" %>
    <%= javascript_include_tag  "all" %>
  </header>

  <body class="<%= page_classes %> my-body">

    <nav class = "navbar navbar-default navbar-fixed-top uppernav" role="navigation">
    <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapsable">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapsable">
          <ul class="nav navbar-nav foo" id="menu">
            <li class="active"><a href="/">Home</a></li>
            <li><a href="#about">About </a></li>
            <li><a href="#work_rails_projects">Work Projects </a></li>
            <li><a href="#personal_rails_projects">Personal Projects </a></li>
            <li><a href="#my_interests">Interests </a></li>
            <li><a href="#education">Education </a></li>
            <li><a href="#contact">Contact </a></li>
          </ul>
        </div>
      </div>
    </nav>
    <section id= "about">
      <h2 class='my-name'> Tania Jacob </h1>
      <div class="hr"></div>
      <div class = "row">
        <div class = "col-md-12">
          <p class='description'> I am a 24 year old Developer currently working at Datacom Systems Wellington until 29 July 2016. I have been with the company for the past four years and have worked on a variety of projects.
          In the Java space, I worked on the Reserve Bank's real time gross settlement system - ESAS-NZClear in a waterfall team. In this project I worked on defects, testing, producing technical documentation, upgrading WebLogic and creating new application installers. In addition I got direct client communication with RBNZ's clients overseas to help them move to use the new installers. </p>
          <p class='description'> I spent 4 months in a small agile Ruby on Rails team. My first task was to convert the tests for the Summer of Tech application from RSpec to MiniTest. Following this I worked on the Junction application described below. My focus was on working with the basic MVC framework of the application and also working with the REST API. I also got the chance to work on a Datacom Dashboard and change components based on client feedback. </p>
          <p class='description'> My last five months at the company was working in a DevOps team using Ansible. This group focused on automating the provisioning and building of servers with the correct software on each. I developed a variety of roles and built my Linux skills. </p>
          <p class='description'> In my previous internship at Tertiary Education Commission (TEC) I became the SME in Sparx Enterprise Architect for 9.2. I prepared a training manual and trained staff at TEC and Datacom. </p>
          <p class='description'> I describe myself as a motivated individual who is keen to learn new skills and grasps any opportunity that is presented. I have worked in both waterfall (Java) and agile (Ruby on Rails) environments as well as in a DevOps team. I will be working in a Ruby on Rails team at Abletech from August. I chose this field as working in the field has been the highlight of my career. Presently I am working on multiple Ruby on Rails applications in my spare time to build my skill set and grow my confidence in the domain.</p>
        </div>
      </div>
    </section>

    <section id = "skills">
      <h2> Key Technologies </h2>
      <div class="hr"></div>
      <table class = "table table-bordered">
        <tr>
          <th class='about'> Technology</th>
          <th class='experience'> Level of Experience </th>
          <th class='rating'> Rating </th>
          <th class='year'> Last Year Used </th>
        </tr>
        <tr>
          <td> Ansible </td>
          <td> 5 months </td>
          <td> 5 </td>
          <td> 2016 </td>
        </tr>
        <tr>
          <td> CSS </td>
          <td> 1/2 year </td>
          <td> 4 </td>
          <td> 2016 </td>
        </tr>
        <tr>
          <td> HTML </td>
          <td> 4 years </td>
          <td> 6 </td>
          <td> 2016 </td>
        </tr>
        <tr>
          <td> Java </td>
          <td> 1.5 years </td>
          <td> 5 </td>
          <td> 2015 </td>
        </tr>

        <tr>
          <td> Javascript </td>
          <td> 1 year </td>
          <td> 4 </td>
          <td> 2016 </td>
        </tr>

        <tr>
          <td> Oracle WebLogic Server </td>
          <td> 1.5 years </td>
          <td> 6 </td>
          <td> 2015 </td>
        </tr>
        <tr>
          <td> PowerDesigner 15 </td>
          <td> 3 months </td>
          <td> 5 </td>
          <td> 2012 </td>
        </tr>

        <tr>
          <td> Sparx Enterprise Architect </td>
          <td> 4 years </td>
          <td> 7 </td>
          <td> 2015 </td>
        </tr>
        <tr>
          <td> Spring MVC </td>
          <td> 1/2 year </td>
          <td> 4 </td>
          <td> 2014 </td>
        </tr>

        <tr>
          <td> SQL/PostgreSQL </td>
          <td> 3 years </td>
          <td> 6 </td>
          <td> 2016 </td>
        </tr>
      </table>
    </section>

    <section id='tools'>
      <h2> Key Tools </h2>
      <div class="hr"></div>
      <table class = "table table-bordered">
        <tr>
          <th class='about'> Tool</th>
          <th class='experience'> Level of Experience </th>
          <th class='rating'> Rating </th>
          <th class='year'> Last Year Used </th>
        </tr>
        <tr>
          <td> Ant </td>
          <td> 1.5 years </td>
          <td> 5 </td>
          <td> 2015 </td>
        </tr>
        <tr>
          <td> Apache Tomcat </td>
          <td> 2.5 years </td>
          <td> 6 </td>
          <td> 2013 </td>
        </tr>
        <tr>
          <td> Atlassian JIRA </td>
          <td> 2 years </td>
          <td> 7 </td>
          <td> 2015 </td>
        </tr>
        <tr>
          <td> Git </td>
          <td> 2 years </td>
          <td> 7 </td>
          <td> 2016 </td>
        </tr>
        <tr>
          <td> install4j </td>
          <td> 1/2 year </td>
          <td> 8 </td>
          <td> 2015 </td>
        </tr>
        <tr>
          <td> SoapUI </td>
          <td> 1/2 year </td>
          <td> 6 </td>
          <td> 2015 </td>
        </tr>
        <tr>
          <td> SVN - Tortoise SVN Client </td>
          <td> 1.5 years </td>
          <td> 6 </td>
          <td> 2015 </td>
        </tr>
        <tr>
          <td> Trello </td>
          <td> 1 year </td>
          <td> 7 </td>
          <td> 2016 </td>
        </tr>
        <tr>
          <td> Waffle </td>
          <td> 1 year </td>
          <td> 7 </td>
          <td> 2016 </td>
        </tr>
      </table>
    </section>

    <section id ="work_rails_projects">          
      <h2> Work Projects </h2>
      <div class="hr"></div>
      <div class = "row">
        <div class = "col-md-6">
          <img src = "/images/junction.png" alt= "junction" height="180" width="300"/>           
          <h4> Junction </h4>
          <span> Meeting Room booking system communicating to Exchange Web Services written in RoR. </span> 
        </div>
        <div class = "col-md-6">
          <img src = "/images/dashboard.png" alt= "dashboard" height="180" width="300"/>           
          <h4> Datacom Dashboard </h4>
          <span> A visualisation of the Datacom timesheet system written in RoR. </span> 
        </div>
      </div>
    </section>
    <section id='personal_rails_projects'> 
      <h2> Personal Projects </h2>
      <div class="hr"></div>
      <div class = "row">
        <div class = "col-md-4">
          <img src = "/images/teachtool.png" alt= "teachtool" height="180" width="300"/>           
          <h4><%= link_to 'TeachTool', 'https://teachtool.herokuapp.com' %></h4>
          <span> Online tuition centre for Maths and English written in RoR. </span> 
        </div>
        <div class = "col-md-4">
          <img src = "/images/yahoofinance.png" alt= "Yahoo Finance" height="180" width="300"/>           
          <h4><b><%= link_to 'Yahoo Finance Share Stock Data Extractor', 'https://github.com/jacobtani/financedata_extractor_tj' %></b></h4>
          <span> Extracts data from Yahoo Finance of stocks you are subscribed to. Written in RoR over a time frame of 3 weeks after work.</span> 
        </div>
        <div class = "col-md-4">
          <img src = "/images/wedding.png" alt= "wedding" height="180" width="300"/>           
          <h4><b><%= link_to 'Wedding', 'https://iwandtj.herokuapp.com' %></b></h4>
          <span> Online personal wedding website written in RoR </span> 
        </div>
      </div>
    </section>
    
    <section id = "my_interests">
      <h2> Interests </h2>
      <div class="hr"></div>
      <p> Outside of my development time, I love baking. In particular I fancy making decorative birthday cakes. Here is a show case of my talent in order of creation: </p>
      <div class = "row">
        <div class = "col-md-4">
          <img src = "/images/surf.jpg" alt= "surf" height="180" width="220"/>           
          <h4><b> Surfing </b></h4>
        </div>
        <div class = "col-md-4">
          <img src = "/images/foos.jpg" alt= "foosball" height="180" width="220"/>           
          <h4><b> Foosball </b></h4>
        </div>
        <div class = "col-md-4">
          <img src = "/images/pants.jpg" alt= "pants" height="180" width="220"/>           
          <h4><b> Pants </b></h4>
        </div>
      </div>
      <div class='row'>
        <div class = "col-md-4">
          <img src = "/images/red.jpg" alt= "red" height="180" width="220"/>           
          <h4><b> Red Square </b></h4>
        </div>
        <div class = "col-md-4">
          <img src = "/images/lego.jpg" alt= "lego" height="180" width="220"/>           
          <h4><b> Lego </b></h4>
        </div>
        <div class = "col-md-4">
          <img src = "/images/tour.jpg" alt= "tour" height="180" width="220"/>           
          <h4><b> Tour de France </b></h4>
        </div>
      </div>
      <p> In the Summer I enjoy boogie boarding and exploring the outdoors with my fiance. Whilst in the Winter I love my annual Ski trip. In addition I love spending time with family and friends. </p>
    </section>

    <section id = "education">
      <h2> Education & Professional Development </h2>
      <div class="hr"></div>
      <table class = "table table-bordered">
        <tr>
          <th> Name </th>
          <th> Description </th>
          <th> Location </th>
          <th> Timing </th>
        </tr>
        <tr>
          <td> Bachelor of Engineering in Software Engineering with First Class Honours </td>
          <td> Undergraduate Degree </td>
          <td> Victoria University of Wellington </td>
          <td> 2010 - 2014 </td>
        </tr>
        <tr>
          <td> Agile Development </td>
          <td> Learning about the basics of agile and applying it practically. 2 day workshop </td>
          <td> Bank of New Zealand </td>
          <td> 2012 </td>
        </tr>
        <tr>
          <td> Rails Girls</td>
          <td> Bringing girls into learning Ruby on Rails. Learning basic Ruby and CSS. </td>
          <td> Enspiral Dev Academy </td>
          <td> May 2015 </td>
        </tr>
        <tr>
          <td> Security 101 </td>
          <td> A theory and practical based training on security with web development </td>
          <td> SafeStack - Tom Eastman </td>
          <td> 10 August 2015 </td>
        </tr>
        <tr>
          <td> Teacher Education Initiative - CSR Python </td>
          <td> Assist secondary school teachers learning introductory Python Programming at a two day course at Datacom </td>
          <td> Datacom Systems Ltd </td>
          <td> September 7 2015 </td>
        </tr>
        <tr>
          <td> Kiwicon 9 </td>
          <td> Wellington's annual hackathon </td>
          <td> St James Theatre </td>
          <td> December 10-11 2015 </td>
        </tr>
      </table>    
    </section>
    <section id='contact'>
      <h2> Contact Tania </h2>
      <div class="hr"></div>
      <div class = 'row'>
        <div class = 'col-md-4 tania-image'>
          <img src = "/images/tania.jpg" alt= "lego" height="190" width="220"/>     
        </div>
        <div class='col-md-4 my-contact-text'>
          <span>Email: tanzjacob@gmail.com</span><span>Phone: 027 694 9524</span><span>GitHub: <%= link_to 'https://github.com/jacobtani', 'https://github.com/jacobtani' %> </span>
        </div>
      </div>
    </section>

  </body>
